.image-placeholder {
  width: 100%;
  background: #5a442a;
  margin-bottom: 0px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hr-about, .hr-home, .hr-g, .hr-m {
  margin-top: 0;
  margin-bottom: 1rem;
  border: 0;
  border: 3px solid #af6d1c;
}

html {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
}

html::before {
  content: "";
  background: #ccc;
  /*; url('images/comp1.jpg') center no-repeat; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.home, .about, p, .mission, .gallery, footer .footer {
  text-align: center;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  margin-bottom: 0px;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

figure {
  border: 1px #adabab solid;
  padding: 4px;
  margin: auto;
  background-color: #a39d9d;
}

figcaption {
  background-color: #ccc;
  color: #000000;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.active {
  /* border-top: 1px solid #fdc073; */
  background-color: #c8a272;
  font-weight: bold;
  border-radius: 15px;
}

.social {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

.twitter {
  position: relative;
  bottom: 0;
  color: #529dec;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.twitter:hover {
  bottom: 5px;
  color: #007bff;
}

.footer {
  max-height: 100px;
  background-color: #373636;
  color: #ffffff;
}

.image-placeholder:nth-child(1), .image-placeholder:nth-child(2) {
  margin-right: auto;
}

main, .active {
  -webkit-animation: fadeInMain ease 2s;
          animation: fadeInMain ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  font-size: 1.5rem;
}

.Rotate {
  display: inline-block;
  border: solid 3px #af6d1c;
  background-color: #4b2d08;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  padding: 5px;
  color: #ffffff;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-animation: roll 4s infinite;
          animation: roll 4s infinite;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: .7;
  border-radius: 10px;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

text {
  font-weight: bold;
  color: #fa8d07;
}

.tune {
  color: #4b2d08;
}

.dev {
  color: #fa8d07;
  font-weight: normal;
  font-size: 0.8rem;
  font-family: 'Pacifico', cursive;
}

.img-m {
  margin-bottom: 0px;
}

.image-placeholder {
  height: 300px;
}

.hr-about {
  width: 8rem;
}

.hr-home {
  width: 20rem;
}

.hr-g {
  width: 15rem;
}

.hr-m {
  width: 8rem;
}

main {
  margin-top: 8%;
}

@media only screen and (min-width: 667px) and (max-width: 823px) {
  img {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  main {
    margin-top: 16%;
  }
  .hr-home {
    width: 15rem;
  }
  .hr-about {
    width: 7rem;
  }
  .hr-g {
    width: 12rem;
  }
  .hr-m {
    width: 7rem;
  }
  .image-placeholder {
    height: 300px;
    width: 200px;
  }
  figcaption {
    font-size: xx-small;
  }
}

@media screen and (max-width: 576px) {
  img {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  main {
    margin-top: 24%;
  }
  .hr-home {
    width: 10rem;
  }
  .hr-about {
    width: 7rem;
  }
  .hr-g {
    width: 12rem;
  }
  .hr-m {
    width: 7rem;
  }
  .image-placeholder {
    height: 300px;
    width: 200px;
    background: #5a442a;
    margin-bottom: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  figcaption {
    font-size: x-small;
  }
}

ul {
  display: table;
  margin: 0 auto;
}

ul li a {
  text-align: center;
}

.new-p {
  font-size: 0.6rem;
  margin-bottom: 50px;
  text-decoration: underline;
  -webkit-text-decoration-color: #af6d1c;
          text-decoration-color: #af6d1c;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
}
/*# sourceMappingURL=styles.css.map */